# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
data.sqlite3
test.sqlite3
testMirror.sqlite3

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

build-scripts/macos/application
build-scripts/macos/target

# Created by https://www.toptal.com/developers/gitignore/api/helm
# Edit at https://www.toptal.com/developers/gitignore?templates=helm

### Helm ###
# Chart dependencies
**/charts/*.tgz

# End of https://www.toptal.com/developers/gitignore/api/helm
